@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #F2F2F2;
}

:root {
    --cornavbar: #4C5958;
    --corsidebar:#8AA6A3;
    --cortextsidebar: #fff;
    --corlogout: #4C5958;
}

.navbar {
    background: var(--cornavbar);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px; 
    z-index: +1;
}

.navbar .nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px
}

.navbar .nav-left .bx-menu {
    font-size: 35px;
    cursor: pointer;
    color:#FFF;
}

.navbar .nav-left .logo .logo_name {
    font-size: 25px;
    font-weight: 600;
    color:#fff;
}

.navbar .nav-right {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar .nav-right .add{
    border: none;
    background: #F2F2F2;
    border-radius: 10px;
    padding: 3px;
}

.navbar .nav-right .add {
    font-size: 16px;
    font-weight: 500;
    color: #4C5958;
}

.sidebar {
    position: fixed;
    top: 50px; 
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--corsidebar); 
    transition: all 0.5s ease;
}

.sidebar.close {
    display: none;
}

.sidebar .nav-links {
    height: 100%;
    padding: 10px 0 150px 0;
    overflow: auto;
}

.sidebar .nav-links li {
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    background: #4C5958;
}

.sidebar .nav-links li .icon-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 55px;
    color: var(--cortextsidebar);
    font-size: 25px;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 20px;
    font-weight: 400;
    color: var(--cortextsidebar);
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background-color: #4C5958;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar .profile-details {
    /*position: fixed;*/
    /*bottom: 0;*/
    width: 100%;
    display: flex;
    align-items: center;
    padding: 6px 0;
    transition: all 0.5s ease;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 16px;
    background: #1d1b31;
    /*transition: all 0.5s ease;*/
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .email {
    color: var(--cortextsidebar);
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar .profile-details .email {
    font-size: 12px;
}

.sidebar .log-out {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--corlogout);
    padding: 6px 0;
}

.sidebar .log-out button {
    background: transparent;
    margin-left: 20px; 
    border: none;
    border-radius: 3px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sidebar .log-out button a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--cortextsidebar);
}

.sidebar .log-out button a .bx-log-out {
    margin-left: -20px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.sidebar .log-out button a .log-out_name {
    margin-right: 10px;
}

.menuadd {
    position: fixed;
    top: 50px;
    right:10px;
    z-index: auto;
    transition: all 0.5s ease;   
} 

.menuadd.close {
    display: none;
}

.menuadd ul {
    list-style: none;
    background-color: #4C5958;
    padding: 10px 20px;
    border-radius: 0px 0px 10px 10px;
    line-height: 25px;
}

.menuadd ul li a{
    color: #fff;   
    text-decoration: none;
    opacity: 0.7;
}

.menuadd ul li:hover a {
    opacity: 1;
    transition: all 0.5s ease;
}

main {
    z-index: -1;
    background: #F2F2F2;
}

.recente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 75px 10px 0px 10px;
    padding: 10px;
    /*border: 1px solid rgba(0, 0, 0, 0.452);*/
}

.recente > h3 {
    font-weight: normal;
}

.box-recente-1 {
    background: #FFF;
    display: flex;
    flex-direction: column;
    border: 1px solid #BFBFB8;
    border-radius: 7px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);
    height: 150px;
}

.box-recente-1:hover {
    border-left: 3px solid #A4A69C;
}

.box-recente-2 {
    background: #FFF;
    display: flex;
    flex-direction: column;
    border: 1px solid #BFBFB8;
    border-radius: 7px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);
    height: 150px;
}

.box-recente-2:hover {
    border-left: 3px solid #A4A69C;
}

.box-recente-3 {
    display: none;
    background: #FFF;
    flex-direction: column;
    border: 1px solid #BFBFB8;
    border-radius: 7px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);
    height: 150px;
}

.box-recente-3:hover {
    border-left: 3px solid #A4A69C;
}

.main-biblioteca {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 35px 10px 0px 10px;
    padding: 10px;
    /*border: 1px solid rgba(0, 0, 0, 0.493);*/
}

.main-biblioteca > h3 {
    font-weight: normal;
}

.box-main-biblioteca-1 {
    display: flex;
    background: #FFF;
    flex-direction: column;
    height: 75px;
    border: 1px solid #BFBFB8;
    border-radius: 7px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);
    margin-top: 5px;
    margin-bottom: 15px;
}

.box-main-biblioteca-1:hover {
    border-left: 3px solid #A4A69C;
}

.box-main-biblioteca-2 {
    display: flex;
    background: #FFF;
    flex-direction: column;
    height: 75px;
    border: 1px solid #BFBFB8;
    border-radius: 7px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);
}

.box-main-biblioteca-2:hover {
    border-left: 3px solid #A4A69C;
}

.ultimas-anotacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 35px 10px 0px 10px;
    padding: 10px;
    /*border: 1px solid rgba(0, 0, 0, 0.486);*/
}

.ultimas-anotacoes > h3 {
    font-weight: normal;
}

.box-ultimas-anotacoes {
    display: flex;
    background: #FFF;
    flex-direction: column;
    height: 100px;
    border: 1px solid #BFBFB8;
    border-radius: 7px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);
    margin-top: 5px;
}

.box-ultimas-anotacoes:hover {
    border-left: 3px solid #A4A69C; 
}

.frequencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 35px 10px 0px 15px;
    padding: 10px;
}

.frequencia > h3 {
    font-weight: normal;
}

.box-frequencia {
    display: flex;
    background: #FFF;
    flex-direction: column;
    height: 100px;
    border: 1px solid #BFBFB8;
    border-radius: 7px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);
    margin-top: 5px;
}

.box-frequencia:hover {
    border-left: 3px solid #A4A69C; 
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .sidebar {
        width: 300px;
    }

    .sidebar .profile-details {
        width: 300px;
    }

    .sidebar .log-out {
        width: 300px;
    }

    main {
        width: 80vw;
        margin: auto;
        border: 1px solid rgba(0, 0, 0, 0.11);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);
    }

    .recente {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin: 75px 10px 0px 10px;
        padding: 10px;
    }

    .box-recente {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .box-recente-1 {
        display: flex;
        flex-direction: row;
        border: 1px solid #BFBFB8;
        margin-top: 5px;
        margin-bottom: 5px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);
        height: 150px;
        width: 49%;
    }

    .box-recente-2 {
        display: flex;
        flex-direction: row;
        border: 1px solid #BFBFB8;
        margin-top: 5px;
        margin-bottom: 5px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);
        height: 150px;
        width: 49%;
    }

}


/* Para computadores */
@media screen and (min-width: 1024px) {
    .sidebar {
        width: 300px;
    }

    .sidebar .profile-details {
        width: 300px;
    }

    .sidebar .log-out {
        width: 300px;
    }

    main {
        width: 65vw;
        margin: auto;
        border: 1px solid rgba(0, 0, 0, 0.11);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.089);
    }

    .recente {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin: 75px 10px 0px 10px;
        padding: 10px;
        /*border: 1px solid rgba(0, 0, 0, 0.452);*/
    }

    .box-recente {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .box-recente-1 {
        display: flex;
        flex-direction: row;
        border: 1px solid #BFBFB8;
        margin-top: 5px;
        margin-bottom: 5px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);
        height: 150px;
        width: 32%;
    }

    .box-recente-2 {
        display: flex;
        flex-direction: row;
        border: 1px solid #BFBFB8;
        margin-top: 5px;
        margin-bottom: 5px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);
        height: 150px;
        width: 32%;
    }

    .box-recente-3 {
        display: flex;
        flex-direction: row;
        border: 1px solid #BFBFB8;
        margin-top: 5px;
        margin-bottom: 5px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);
        height: 150px;
        width: 32%;
    }
}