@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .sidebar {
        width: 300px;
    }

    .sidebar .profile-details {
        width: 300px;
    }

    .sidebar .log-out {
        width: 300px;
    }


}

@media screen and (min-width: 1024px) {
    .sidebar {
        width: 300px;
    }

    .sidebar .profile-details {
        width: 300px;
    }

    .sidebar .log-out {
        width: 300px;
    }

    
}