@charset "UTF-8";

@media screen and (min-width: 768px) {
    .nav-list {
        display: flex;
        justify-content: center;
    }

    .nav-list ul {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    .nav-item {
        margin: 0px 15px;
    }

    .nav-link:hover {
        background-color: #ada49b46;
        border-radius: 10px;
        transition: .3s;
    }

    .mobile-menu-icon {
    display: none;
}
}