@charset "UTF-8";

@media screen and (min-width: 768px) {
    .nav-list {
        display: flex;
        justify-content: center;
    }

    .nav-list ul {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    .nav-item {
        margin: 0px 15px;
    }

    .nav-link:hover {
        background-color: #ada49b46;
        border-radius: 10px;
        transition: .3s;
    }

    div.botoes > div.cadastro-button {
        display: block;
    }

    .cadastro-button button {
        border: none;
        background-color: rgb(51, 51, 51);
        padding: 6px 9px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }

    .login-button button a {
        text-decoration: none;
        color: #fff;
        font-size: 15px;
    }

    .cadastro-button button:hover {
        background-color: rgba(59, 59, 59, 0.822);
    }

    .mobile-menu-icon {
    display: none;
}
}