@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
}

.navbar {
    background: #8BA6AC;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px; 
    z-index: +1;
}

.navbar .nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px
}

.navbar .nav-left .bx-menu {
    font-size: 35px;
    cursor: pointer;
}

.navbar .nav-left .logo .logo_name {
    font-size: 25px;
    font-weight: 600;
}

.navbar .nav-right {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar .nav-right .add{
    border: none;
    background: lightblue;
    border-radius: 10px;
    padding: 3px;
}

.navbar .nav-right .add a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #11101d;
}

.sidebar {
    position: fixed;
    top: 50px; 
    left: 0;
    height: 100%;
    width: 100%;
    background: #11101d;
    transition: all 0.5s ease;
}

.sidebar.close {
    display: none;
}

.sidebar .nav-links {
    height: 100%;
    padding: 10px 0 150px 0;
    overflow: auto;
}

.sidebar .nav-links li {
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    background: #1d1b31;
}

.sidebar .nav-links li .icon-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 55px;
    color: #fff;
    font-size: 25px;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background-color: #1d1b31;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar .profile-details {
    /*position: fixed;*/
    /*bottom: 0;*/
    width: 100%;
    display: flex;
    align-items: center;
    padding: 6px 0;
    transition: all 0.5s ease;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 16px;
    background: #1d1b31;
    /*transition: all 0.5s ease;*/
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .email {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar .profile-details .email {
    font-size: 12px;
}

.sidebar .log-out {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: #1d1b31;
    padding: 6px 0;
}

.sidebar .log-out button {
    background: transparent;
    margin-left: 20px; 
    border: none;
    border-radius: 3px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sidebar .log-out button a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.sidebar .log-out button a .bx-log-out {
    margin-left: -20px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.sidebar .log-out button a .log-out_name {
    margin-right: 10px;
}

.menuadd {
    position: absolute;
    top: 50px;
    right:10px;
    z-index: auto;
    transition: all 0.5s ease;   
} 

.menuadd.close {
    display: none;
}

.menuadd ul {
    list-style: none;
    background-color: #1d1b31;
    padding: 10px 20px;
    border-radius: 0px 0px 10px 10px;
    line-height: 25px;
}

.menuadd ul li a{
    color: #fff;   
    text-decoration: none;
    opacity: 0.7;
}

.menuadd ul li:hover a {
    opacity: 1;
    transition: all 0.5s ease;
}

main {
    z-index: -1;
    background: #F2F2F2;
    border: 1px solid black;
}

main .account {
    display: flex;
    align-items: center;
    padding: 6px 0;
    margin: 65px 10px 0px 10px;
    border: 1px solid black;
}

main .account .account-content {
    display: flex;
    align-items: center;
}

main .account img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 16px;
    background: #1d1b31;
}

main .account .name-email {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main .account .name-email .profile_name {
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
}

main .account .name-email .email {
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
}

main .add-pst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0px 21px;
    padding: 5px;
}

main .add-pst button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 3px;
    background-color: red;
    border-radius: 5px;
}

main .add-pst button .add-pst_name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
}

main .add-pst button i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 10px;
    font-size: 15px;
}