@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap');

/*
font-family: 'Poppins', sans-serif;
*/

:root {
    --cornavbar: #FFF;
    --corsidebar:#C6C7F5;
    --cortextsidebar: #343566;
    --corlogout: #fff;
    --corlistitens: #4C5958;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

body,html {
    background-color: var(--corfundo);
}

header {
    background: var(--cornavbar);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px 20px; 
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 13px; 
    color: #fff;
}

.nav-link {
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    /*margin: auto;*/
}

div.botoes > div.cadastro-button {
    display: none;
}

.login-button button {
    border: none;
    background-color: rgb(51, 51, 51);
    padding: 6px 9px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.login-button button:hover {
    background-color: rgba(59, 59, 59, 0.822);
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.nav-list {
    display: none;
}


.nav-link {
    padding: 10px ;
}

.botoes {
    display: flex;
    align-items: center;
    gap: 15px;
}

.mobile-menu-icon {
        display: block;
    }

.mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
}



.mobile-menu ul { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 0px;
    margin-block-start: 0px;
}

.mobile-menu .nav-item {
    display: block;
    height: 40px;
    padding: 8px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.507);
    margin: 0px 10px;
}

.mobile-menu .nav-ultimo-item {
    display: block;
    height: 40px;
    padding: 5px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.507);
    border-bottom: 1px solid rgba(0, 0, 0, 0.507);
    margin: 0px 10px;
}

.cadastro-button button{
    display: block;
    width: 100%;
    margin: auto;
    border: none;
    background-color: rgb(51, 51, 51);
    padding: 3px 9px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    
}

.cadastro-button button a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}


.open {
    display: block;
}

main {
    width: 80vw;
    /*border: 1px solid black;*/
    margin: auto;
    margin-top: 55px;
}

main ul {
    list-style-position: inside;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid black;
}

h1.principal {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 8px;
}

h2.principal {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 8px;
}

p {
    text-align: justify;
}