@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

body,html {
    background-color: #d3c8bd56;
    height: 100vh;
}

.cabecalho {
    background: linear-gradient( to right, #e2d4c5, #CCAB92);
    width: 100vw;
    padding: 10px 20px; 
}

main {
    width: 100vw;
}

.primeiro h2 {
    text-align: center;
    margin: 60px 10px 10px 10px;
    font-weight: 600;
    font-size: 2.1em;
}

.botoes-continuar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.botoes-continuar button {
    display: block;
    width: 60%;
    border: none;
    background-color: rgb(51, 51, 51);
    padding: 6px 9px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.botoes-continuar button a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
}

.cadastro-manual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.campo {
    width: 100%;
}

.campo input {
    width: 100%;
}

.botao-inscrever {
    background-color: rgb(51, 51, 51);
    color:#fff;
    margin-top: 20px;
    padding: 5px;
    border: none;
    border-radius: 8px;
}

@media screen and (min-width: 768px) {
    .botoes-continuar button {
        width: 25vw;
    }

    .campo {
        width: 25vw;
    }
    
    }
